<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.promo.dal.persistence.PromoSessionMapper">
    <resultMap id="BaseResultMap" type="com.mall.promo.dal.entitys.PromoSession">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="session_id" jdbcType="INTEGER" property="sessionId" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="yyyymmdd" jdbcType="VARCHAR" property="yyyymmdd" />
    </resultMap>
    <sql id="Base_Column_List">
    id, session_id, start_time, end_time, yyyymmdd</sql>
</mapper>
