<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.promo.dal.persistence.PromoItemMapper">
  <resultMap id="BaseResultMap" type="com.mall.promo.dal.entitys.PromoItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ps_id" jdbcType="INTEGER" property="psId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="seckill_price" jdbcType="DECIMAL" property="seckillPrice" />
    <result column="item_stock" jdbcType="INTEGER" property="itemStock" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ps_id, item_id, seckill_price, item_stock</sql>

  <update id="updatePromoItemStock">
    update tb_promo_item
    set item_stock = item_stock -1
    where id = #{id} and item_stock - 1 >= 0

  </update>
    <select id="findPromoItemStockForUpdate" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/>
      from tb_promo_item where ps_id = #{psId} and item_id = #{itemId}
      for update
    </select>

  <update id="decreaseStock">
      UPDATE tb_promo_item
      SET item_stock = item_stock - 1
      WHERE
      ps_id = #{psId}
      AND
      item_id = #{productId}
      AND
      item_stock > 0
    </update>
</mapper>
